.Container {
  width: 30%;
  min-width: 400px;
  margin: auto;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  color: #4d4d4d;
  font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: relative;
}

h1 {
  width: 100%;
  font-size: 90px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  display: block;
  border-bottom: 1px solid #ededed;
  padding: 16px 32px;
}

.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}

li:hover img {
  display: block;
}

ul li img {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  margin: auto 0 18px 0;
  transform: translate(0, -50%);
}

li label {
  background-color: transparent;
  word-break: break-all;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 32px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ededed;
  color: #4d4d4d;
  font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

::placeholder {
  color: gray;
  font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
  opacity: 0.3;
  font-weight: 300;
}

footer {
  color: #777;
  padding: 10px 15px;
  height: 62px;
  box-sizing: border-box;
  text-align: center;
}

footer button {
  border: none;
  background-color: transparent;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #777777;
  line-height: 16px;
  margin: 3px;
}

footer button:focus {
  outline: none;
}

.selected {
  border-radius: 2px;
  border: solid 1px #00b0f0;
}

